<div class="inner">
  <div class="present-form">
    <h1 class="title">Editing Log</h1>
    <p class="sub-title">贈り物ログの修正</p>
    <%= render "layouts/errors", obj: @present %>
    <%= render "form", present: @present %>
  </div>
</div>