<div class="inner">
  <div class="present-form">
    <h1 class="title">New Present Log </h1>
    <p class="sub-title">贈り物ログ作成</p>
    <%= render "layouts/errors", obj: @present %>
    <%= render "form", present: @present %>
  </div>
</div>