<% if present.favorited_by?(current_user) %>
  <p><%= link_to present.favorites.count, favorites_path(present), method: :delete, remote: true, class: "fas fa-grin-squint" %></p>
<% else %>
  <p><%= link_to present.favorites.count, favorites_path(present), method: :post, remote: true, class: "far fa-laugh" %></p>
<% end %>