<div class="friends-box">
  <div class="edit">
    <h1 class="title">Editing Friend</h1>
    <p class="sub-title">フレンド情報編集</p>
    <%= render "layouts/errors", obj: @friend %>
    <%= render "form", friend: @friend %>
  </div>
</div>