<div class="inner">
  <div class="follow-tab">
    <ul id="tab-menu">
      <li id="tab1"><a href="#panel1">Followers</a></li>
      <li id="tab2"><a href="#panel2">Followings</a></li>
    </ul>

    <div id="tab-panels">
      <div id="panel1" class="panel">
        <h1 class="title">フォロワー</h1>
        <%= render "index", users: @followers %>
      </div>
      <div id="panel2" class="panel">
        <h1 class="title">フォロー</h1>
        <%= render "index", users: @followings %>
      </div>
    </div>
  </div>
</div>