<div class="inner">
  <div class="follow-wrap">
    <h1 class="title">フォロー一覧</h1>
    <% if @followings.exists? %>
      <%= render "index", users: @followings %>
    <% else %>
      <p>フォロー中のユーザーはいません</p>
    <% end %>
  </div>
</div>