<div class="inner">
  <div class="follow-wrap">
    <h1 class="title">フォロワー一覧</h1>
    <% if @followers.exists? %>
      <%= render "index", users: @followers %>
    <% else %>
      <p>フォロワーはいません</p>
    <% end %>
  </div>
</div>