<div class="form-wide">
  <h1 class="title">Editing Event</h1>
  <p class="sub-title">記念日の編集</p>
  <div class="event-form">
    <%= render "layouts/errors", obj: @event %>
    <%= render "form", event: @event %>
  </div>
</div>