<div class="event-box">
  <div class="events-wrap">
    <h1 class="title">Events</h1>
    <p class="sub-title">記念日一覧</p>
    <%= link_to "新規イベント作成", new_event_path, class: "btn btn-info" %>
    <%= render "list", events: @feature_events %>
  </div>
</div>