<div class="inner">
  <div class="event-box">
    <div class="events-wrap">
      <h1 class="title">記念日一覧</h1>
      <p><%= notice %></p>
      <%= link_to "新規イベント作成", new_event_path %>
      <%= render "list", events: @feature_events %>

    </div>
  </div>
</div>