<div class="inner">
  <div class="event-box">
    <div class="event-form">
      <h1 class="title">記念日登録</h1>
      <%= render "layouts/errors", obj: @event %>
      <%= render "form", event: @event %>
    </div>
  </div>
</div>