<div class="event-wrap">
  <h1 class="title">New Event</h1>
  <p class="sub-title">新規記念日作成</p>
  <div class="event-form">
    <%= render "layouts/errors", obj: @event %>
    <%= render "form", event: @event %>
  </div>
</div>