<div class="back-image">
  <div class="top-wrapper">
    <a href="/">
      <img src="/assets/presentist-logo.png" alt="PRESENTIST" class="top-logo">
    </a>
    <h2>We Are</h2>
    <p class="top-wrapper__text">
      PRESENTIST は、あなたの贈り物を簡単に管理するサービスです。<br />
      こんなものもらって嬉しい！<br />
      なんて気持ちをみんなに共有できたらとの想いもあり、いいねやフォローもできるようになっています。<br />
      おしゃれな人のプレゼント履歴を参考にあなたも最高に素敵なプレゼントを選んでみませんか？
    </p>

    <ul class="top-wrapper__list">
      <li class="top-wrapper__item"><%= link_to "Top", root_path %></li>
      <li class="top-wrapper__item"><%= link_to "Sign up", new_user_registration_path %></li>
      <li class="top-wrapper__item"><%= link_to "Log in", new_user_session_path %></li>
      <li class="top-wrapper__item"><%= link_to "Ranking", root_path %></li>
    </ul>

  </div>

</div>