<div class="back-image">
  <div class="top-wrapper">
    <a href="/">
      <img src="/assets/presentist-logo.png" alt="PRESENTIST" class="top-logo">
    </a>
    <h2>Welcome to PRESENTIST</h2>
    <p class="top-wrapper__text">
      PRESENTIST は<br />
      あなたの大切な人への贈り物<br />
      ＆<br />
      大切な人からの贈り物<br />
      を簡単に管理するサービスです。
    </p>
    <p class="top-wrapper__caution">※利用するには会員登録が必要です。</p>
    <ul class="top-wrapper__list">
      <li class="top-wrapper__item"><%= link_to "About", about_path %></li>
      <li class="top-wrapper__item"><%= link_to "Sign up", new_user_registration_path %></li>
      <li class="top-wrapper__item"><%= link_to "Log in", new_user_session_path %></li>
      <li class="top-wrapper__item"><%= link_to "Ranking", root_path %></li>
    </ul>
  </div>
</div>