<%= form_with url: search_path, method: :get, local: true do |f|%>
  <div class="input-group">
    <%= f.text_field :content, required: true, placeholder: "贈り物ログを探す", class: "form-control" %>
    <span class="input-group-append">
      <button type="submit" class="form-control">
        <i class="fas fa-search"></i>
      </button>
    </span>
  </div>
<% end %>