//共通カラー

// メインカラー（ロゴと同色）
$main: #d2363b;
$main-hover: #ff6065;

// ヘッダー関連
$header-btn: #e421213d;
$back: #fbded1;

// 注意書き、サブテキスト
$caution: #696969;

// 灰色
$gray: gray;

// 線
$border: #d2363b;

// btn-primry(編集ボタン)
$edit: #ff8989;
$edit-hover: #ff898994;

// フォローボタン
$follow: #ff7575;

// 未完了のステータスボタン
$status: orange;
$status-hover: #ffa500bf;