/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import  "simple_calendar";

@font-face{
  font-family: "851MkPOP_100";
  src: font-url('/assets/851MkPOP_100.ttf');
}

// 元の設定をリセット
body {
  display: flex;
  margin: 0;
}

ul{
  padding: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
}

// エラ〜メッセージ
#error_explanation{
  color: red;
  text-align: left;
  h2{
    font-size: 18px;
  }
  ul{
    list-style-type: none;
    text-align: left;
  }
}
.field_with_errors{
  display: inline;
  input{
    border-color: red;
  }
}

// サイドバー
.main {
  width: calc(100% - 200px);
}

.header{
  width: 200px;
  min-height: 100vh;
  &__wrap{
    width: 200px;
    height: 100%;
    background-color: #fbded1;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
  }
  &__ul{
    list-style: none;
  }
  &__item{
    padding: 5px 0;
    margin: 15px 35px;
    border-radius: 15px;
    &:hover{
    -webkit-transition: all 600ms 0s ease;
    transition: all 400ms 0s ease;
    background: #e421213d;
    }
  }
}

footer{
  width: 100%;
  height: 60px;
  margin-top: 40px;
  border-top: 1px solid gray;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

// 背景あとで変更
.inner {
  background-color: #80808066;
}

// タイトル
.title{
  text-align: center;
  border-bottom: 1px double brown;
  margin: 0 30%;
  padding-top: 40px;
}

.sub-title{
  text-align: center;
  margin-bottom: 40px;
}
