/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple_calendar";

// 基本フォント
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
// タイトルフォント
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
// 贈り物ロゴタイトル
@font-face{
  font-family: "851MkPOP_100";
  src: font-url('/assets/851MkPOP_100.ttf');
}

@import "color";
@import "mixin";

// 元の設定をリセット
body {
  margin: 0;
  padding: 0;
  font-family: 'Kiwi Maru', serif;
}

ul{
  padding: 0;
  list-style: none;
}

p{
  margin: 0;
  overflow-wrap: break-word;
　word-wrap: break-word;
}

a, a:hover{
  text-decoration: none;
}

// 以降共通のスタイル

// ページ全体の余白
.inner{
  padding: 0 5%;
}

// エラ-メッセージ
#error_explanation{
  color: red;
  text-align: left;
  h2{
    font-size: 15px;
  }
  ul{
    list-style-type: none;
    text-align: left;
  }
}
.field_with_errors{
  display: inline;
  input{
    border-color: red;
  }
}

// スマホ用ヘッダー
header{
  background: $back;
}

// サイドバー(pc用)
.pc-sidebar{
  background: $back;
}

.sidebar{
    position: sticky;
    top: 0;
    text-align: center;
  &__btn{
    padding: 5px 1em;
    margin: 15px 35px;
    border-radius: 15px;
    &:hover{
    -webkit-transition: all 400ms 0s ease;
    transition: all 400ms 0s ease;
    background: $header-btn;
    }
  }
  & .btn-link{
    display: inline-block;
    background: $btn;
    color: #fff;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    padding-top: 24px;
    margin-bottom: 20px;
    &:hover{
      background: $active-btn;
    }
  }
}

// フッター
footer{
  height: 60px;
  margin-top: 40px;
  border-top: 1px solid gray;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

// タイトル
.title{
  text-align: center;
  border-bottom: 6px double brown;
  margin: 0 25%;
  padding-top: 40px;
  font-family: 'Yeseva One', cursive;
}

.sub-title{
  text-align: center;
  margin-bottom: 40px;
}

// btn-primaryボタン
.btn-primary{
  background: #ff8989;
  border: none;
  &:hover{
    background: #ff898994;
  }
  &:active, &:focus{
    background: #ff8989 !important;
  }
}

// フォローボタン
a {
  &.unfollow-btn{
    @include follow-btn(#fff);
    background: brown;
  }
  &.following-btn{
    @include follow-btn(brown);
  }
}

// 注意書き、notice
.notice{
  color: $caution;
}

// ページネーション
.pagination{
  justify-content: center;
  a{
    border: none;
    color: $caution;
  }
  & .page-link{
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    margin-right: 10px;
    background: none;
    text-align: center;
  }
  & .active{
    .page-link{
      border-radius: 50%;
      background-color: $btn;
    }
  }
  & :hover{
    .page-link{
      color: #fff;
      background-color: $active-btn;
      border-radius: 50%;
    }
  }
}

// フォームのみのページ幅
.form-wide{
  width: 70%;
  margin: 0 auto;
  max-width: 600px;
}

// レスポンシブ対応
// mdサイズ以上の場合、sp用のヘッダーを消す
@media (min-width: 768px){
  .sp-header{
    display: none;
  }
}

// smサイズ以下の場合、サイドバーを消す
@media (max-width: 767px){
  .pc-sidebar{
    display: none;
  }
}