/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import  " simple_calendar " ;

@font-face{
  font-family: "851MkPOP_100";
  src: font-url('/assets/851MkPOP_100.ttf');
}

// 共通部分のCSS
@mixin header-bace{
  width: 100%;
  height: 130px;
  background-color: #00b39a;
}

.header{
  @include header-bace;
  &__ul{
    list-style: none;
    display: flex;
    justify-content: center
  }
  &__item{
    width: 10%;
    margin: 10px 5px;
  }
}

.footer{
  @include header-bace;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

// 背景あとで変更
.inner {
  background-color: #80808066;
}

// タイトル
.title{
  text-align: center;
}
// リセット
p{
  margin: 0;
}