// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "color";
@import "mixin";

// 贈り物準備ステータス変更
.switch{
  &__ready{
    @include toggle(gray, gray);
    padding-left: 17px;
  }
  &__preparation{
    @include toggle(orange, #ffa500bf);
    padding-left: 1px;
  }
}

// 記念日一覧
.events-wrap{
  padding: 0 5%;
  & tbody > tr:hover{
    cursor: pointer;
  }
}