// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "color";
@import "mixin";

// フォームのパーシャル
.friend-form{
  &__btn{
    text-align: right;
  }
}

// フレンド詳細情報画面
.friend-table{
  width: 200px;
  &__btn{
    text-align: right;
    padding-bottom: 20px;
  }
}

.friend-events{
  padding: 0 40px;
}

// フレンド一覧画面
.friend-index{
  & tbody > tr:hover{
    cursor: pointer;
  }
}

// 新規登録画面
#new-btn{
  color: #f8f9fa;
  font-size: 20px;
  background: tomato;
  padding: 3px 1em;
  border-radius: 10px;
  margin-bottom: 15px;
  display: inline-block;
  &:hover{
    cursor: pointer;
    background: #ffa494;
  }
  &:active{
    background: tomato;
  }
}

#friend-new{
  width: 320px;
  min-height: 100vh;
  padding: 0 20px;
  background: #ffdede;
  // 右側に隠す
  position: fixed;
  top: 0;
  right: -320px;
  z-index: 2;
}

//中身をスクロールさせる
.form-inner{
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 20px;
}

