// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ログイン前画面
.back-image {
  background-image: image_url("top.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.top-title{
  font-family: 'Yeseva One', cursive;
  color: #fff;
  margin: 1em;
  }

.top-wrapper{
  color: #fff;
  min-height: 100vh;
  padding: 5%;
  background-color: #1f1f1f8c;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__text{
    padding-bottom: 2em;
  }
  &__list{
    list-style-type: none;
    margin: 2em 0;
  }
  &__item{
    display: block;
    padding: 5px 1em;
    margin: 15px auto;
    width: 130px;
    &:hover{
    border: 2px solid;
    }
  }
  &__field{
    margin-bottom: 10px;
  }
  &__caution{
    margin-top: 20px;
  }
}