// Place all the styles related to the presents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 一覧画面
.post-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.post {
  background-color: white;
  width: 300px;
  height: 450px;
  padding: 0 20px;
  margin: 40px 15px;
  box-shadow: 15px 15px 10px gray;
  position: relative;
  &__head{
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    &_right{
      display: flex;
    }
  }
  &__image{
    width: 100%;
    height: 50%;
  }
  &__title{
    text-align: center;
    font-family: "851MkPOP_100";
    margin: 0;
  }
  &__text{
    font-family: "851MkPOP_100";
  }
  &__cat{
    margin-top: 10px;
    color: gray;
  }
  &__user{
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  &__user-image{
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
}
// follow一覧と近いため、変数化してもよいかも。
.presents-tab{
  width: 100%;
  #tab-menu{
    display: flex;
    padding: 0;
    margin: 0;
  }
  #tab-menu li{
    width: 33%;
    list-style-type: none;
  }
  #tab-menu li a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  border-bottom: none;
  }
  #tab-menu .active {
  background: #fff;
  color: #000;
  }
  #tab-panels {
  display: flex;
  flex-wrap: wrap;
  }
  #tab-panels .panel {
  width: 100%;
  padding: 30px;
  background: #fff;
  border-top: none;
  }
  #tab-panels p {
  color: #000;
  line-height: 2.5;
  }
}

// 詳細画面
.gift{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  position: relative;
  // text-align: center;
  display: flex;
  &__left{
    width: 50%;
    padding: 30px 0 30px 30px;
  }
  &__right{
    width: 50%;
    padding: 0 30px 30px 0;
  }
  &__image{
    width: 90%;
    height: auto;
  }
  &__title{
    font-family: "851MkPOP_100";
  }
  &__button{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

.comments-group{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  .comment-card{
    background-color: gray;
    margin-bottom: 10px;
    display: flex;
    &__user{
      padding: 10px;
      text-align: center;
      min-width: 70px;
    }
    &__image{
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
    &__other{
      width: 100%;
      position: relative;
    }
    &__name{
      font-weight: bold;
    }
    &__delete{
      font-size: 25px;
      position: absolute;
      right: 10px;
      bottom: 0px;
    }
    &__date{
      color: brown;
    }
  }
  .comment-form{
    text-align: right;
  }
}

// 新規登録と編集ページ
.present-form{
  background-color: white;
  width: 60%;
  margin: 0 auto;
  padding: 0 10% 5% 10%;
  &__field{
    margin-bottom: 10px;
  }
  &__caution{
    color: gray;
  }
}

// ranking画面
.calender-wrap{
  width: 80%;
  background: pink;
  margin: 0 auto;
}

// simple-calendar
.simple-calendar {
  .calendar-heading{
    text-align: center;
    font-size: 25px;
  }
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}