// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixin";

//タブメニュー
.follow-tab{
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  @include tab(50%);
}

.follow-card{
  width: 100%;
  .image{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    border: 1px solid #d8d8d8;
  }
}

