// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "color";

.search-form{
  width: 200px;
  & form{
    width: 90%;
    margin: 0 auto;
  }
}

.search-wrap{
  & tbody > tr:hover{
    cursor: pointer;
  }
}

.rakuten{
  margin-top: 40px;
  .caution{
    color: $caution;
    padding-left: 20px;
  }
  table{
    width: 90%;
    margin: 0 auto;
  }
  th:last-child{
    width: 100px;
  }
}