// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-wrap{
  height: auto;
  padding: 0 10%;
}

.user-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  .user-info{
    width: 40%;
    min-width: 200px;
    text-align: center;
    &__item{
      display: inline-block;
      width: 100px;
    }
    .image{
      height: 200px;
      width: 200px;
      border-radius: 100px;
    }
  }
  .profile{
    width: 60%;
    &__title{
      background: #fbded1;
    }
    &__name{
      display: flex;
      justify-content: space-between;
    }
  }
}

.user-post{
  width: 80%;
  height: auto;
  background-color: gray;
}

.user-tab{
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  #tab-menu{
    display: flex;
    padding: 0;
    margin: 0;
  }
  #tab-menu li{
    width: 33%;
    list-style-type: none;
  }
  #tab-menu li a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  border-bottom: none;
  }
  #tab-menu .active {
  background: #fff;
  color: #000;
  }
  #tab-panels {
  display: flex;
  flex-wrap: wrap;
  }
  #tab-panels .panel {
  width: 100%;
  padding: 30px;
  background: #fff;
  border-top: none;
  }
  #tab-panels p {
  color: #000;
  line-height: 2.5;
  }
}