// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixin";
@import "color";

// ユーザーページ
.user-info{
  text-align: center;
  .image{
    @include lg-user-img;
  }
  &__item{
    display: inline-block;
    width: 100px;
    margin-bottom: 15px;
  }
}

.profile{
  &__title{
    background: $back;
    margin: 15px 0;
  }
  &__button{
    text-align: right;
    margin-top: 20px;
  }
}

// タブメニュー
.user-tab{
  @include tab(calc(100% / 3));
}

// ユーザーの贈り物ログ
.user-post{
  border-bottom: 1px solid $border;
  padding: 10px 0;
  .post-left{
    .item_image{
      @include sm-item-img;
    }
  }
}

.switch{
  &__done{
    @include toggle($gray, $gray);
    padding-left: 17px;
  }
  &__preparation{
    @include toggle($status, $status-hover);
  }
  &__unnecessary{
    @include toggle($gray, $gray);
    padding-left: 9px;
  }
}
// 編集ページ
.user-edit{
  .image{
    @include lg-user-img;
  }
  &__left{
    text-align: center;
  }
  &__btn{
    text-align: right;
  }
}